<form [formGroup]="deliveryForm">
  <div class="form-row">
    <mat-radio-group
      class="radio-group"
      formControlName="deliveryType">
      <mat-radio-button class="radio-button" [value]="deliveryTypes.CAR_DELIVERY">Доставка</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="deliveryTypes.PICKUP">Самовывоз</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-row" *ngIf="deliveryForm.get('deliveryType').value === deliveryTypes.CAR_DELIVERY">
    <mat-form-field appearance="fill">
      <mat-label>Страна <span class="required">(*)</span></mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country.code">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Город <span class="required">(*)</span></mat-label>
      <input type="text" formControlName="city" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Индекс <span class="required">(*)</span></mat-label>
      <input type="number" formControlName="postalCode" matInput>
    </mat-form-field>
  </div>
  <div class="form-row" *ngIf="deliveryForm.get('deliveryType').value === deliveryTypes.CAR_DELIVERY">
    <mat-form-field appearance="fill">
      <mat-label>Адрес <span class="required">(*)</span></mat-label>
      <input type="text" formControlName="address" matInput>
    </mat-form-field>
  </div>
  <div class="form-row" *ngIf="deliveryForm.get('deliveryType').value === deliveryTypes.CAR_DELIVERY">
    <mat-form-field appearance="fill">
      <mat-label>Дата доставки <span class="required">(*)</span></mat-label>
      <input formControlName="deliveryDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Комментарий к заказу</mat-label>
      <textarea formControlName="commentary" matInput></textarea>
    </mat-form-field>
  </div>

  <div class="form-row">
    <button (click)="submit()" mat-raised-button color="primary" [disabled]="deliveryForm.invalid || isLoading" >Оформить заказ</button>
  </div>
</form>
