.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  &:first-of-type {
    margin-top: 0;
  }

  .mat-form-field {
    width: 100%;

    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.required {
  font-size: 10px;
  color: red;
}

@media (max-width: 767px) {
  .form-row {
    display: flex;
    flex-direction: column;
  }
}
